{% extends 'layout.html' %}

{% block body %}
{{ super() }}

<div>
<h2>Tour Stops</h2>
<form id="tourForm" action="/addTour" method="POST">
    <input id="tourLoc" type="text" placeholder="Location" />
    <input id="tourDate" type="date" placeholder="Date" />
    <input id="tickets" type="number" placeholder="Tickets Available" />
    <button type="submit">Add</button>
</form>

<h2>Trailers</h2>
<form id="trailerForm" action="/addTrailer" method="POST">
    <input id="trailerName" type="text" placeholder="Name" />
    <input id="trailerDate" type="date" placeholder="Date" />
    <input id="trailerLink" type="text" placeholder="Trailer link" />
    <input id="trailerType" type="text" placeholder="Photo or video" />
    <button type="submit">Add</button>
</form>

<h2>Press Releases</h2>
<form id="pressForm" action="/addPress" method="POST">
    <input id="pressTitle" type="text" placeholder="Title" />
    <input id="pressDate" type="date" placeholder="Date" />
    <input id="pressDes" type="text" aria-multiline="true" placeholder="Description" />
    <input id="pressLink" type="url" placeholder="Link" />
    <label>Thumbnail</label>
    <input id="pressThumb" type="file" placeholder="Thumbnail image" />
    <button type="submit">Add</button>
</form>
</div>

<script>

    //var mongoose = require('mongoose');
    //var models = require('../../models/models')

    function addTour() {
        console.log("tour");
        var location = document.forms["tourForm"]["tourLoc"].value;
        var date = document.forms["tourForm"]["tourDate"].value;
        var tickets = document.forms["tourForm"]["tickets"].value;

        console.log(location);
        console.log(date);
        console.log(tickets);
    }

    function addTrailer() {
        console.log("trailer");
        var name = document.forms["trailerForm"]["trailerName"].value;
        var date = document.forms["trailerForm"]["trailerDate"].value;
        var link = document.forms["trailerForm"]["trailerLink"].value;
        var type = document.forms["trailerForm"]["trailerType"].value;

        console.log(name);
        console.log(date);
        console.log(link);
        console.log(type);
    }

    function addPress() {
        console.log("press");
        var title = document.forms["pressForm"]["pressTitle"].value;
        var date = document.forms["pressForm"]["pressDate"].value;
        var description = document.forms["pressForm"]["pressDes"].value;
        var link = document.forms["pressForm"]["pressLink"].value;
        var thumbnail = document.forms["pressForm"]["pressThumb"].value;

        console.log(title);
        console.log(date);
        console.log(description);
        console.log(link);
        console.log(thumbnail);
    }

</script>

{% endblock %}