{% extends 'layout.html' %}

{% block body %}
{{ super() }}

<div>
<h2>Tour Stops</h2>
<form id="tourForm">
    <input type="text" placeholder="Location" />
    <input type="date" placeholder="Date" />
    <input type="number" placeholder="Tickets Available" />
    <button onclick="addTour()" type="submit">Add</button>
</form>

<h2>Trailers</h2>
<form id="trailerForm">
    <input type="text" placeholder="Name" />
    <input type="date" placeholder="Date" />
    <input type="text" placeholder="Trailer link" />
    <input type="text" placeholder="Photo or video" />
    <button onclick="addTrailer()" type="submit">Add</button>
</form>

<h2>Press Releases</h2>
<form id="pressForm">
    <input type="text" placeholder="Name" />
    <input type="date" placeholder="Date" />
    <input type="text" aria-multiline="true" placeholder="Description" />
    <input type="url" placeholder="Link" />
    <label>Thumbnail</label>
    <input type="file" placeholder="Thumbnail image" />
    <button onclick="addPress()" type="submit">Add</button>
</form>
</div>

<script>

    //var mongoose = require('mongoose');
    //var models = require('../../models/models')

    function addTour() {
        console.log("tour");
    }

    function addTrailer() {
        console.log("trailer");
    }

    function addPress() {
        console.log("press");
    }

</script>

{% endblock %}