{% extends 'layout.html' %}
{% from "./tour-entry.html" import tour %}
{% from "./trailer-entry.html" import trailer %}
{% from "./press-entry.html" import press %}

{% block body %}
{{ super() }}

<div>
<h2>New Tour Stops</h2>
<form id="tourForm" action="/tour/create" method="POST">
    <input id="tourEvent" type="text" name="event" placeholder="Event" />
    <input id="tourLoc" type="text" name="location" placeholder="Location" />
    <input id="tourDate" type="date" name="date" placeholder="Date" />
    <input id="tickets" type="number" name="ticketsAvailable" placeholder="Tickets Available" />
    <button type="submit">Add</button>
</form>

<h2>New Trailers</h2>
<form id="trailerForm" action="/trailer/create" method="POST">
    <input id="trailerName" type="text" name="name" placeholder="Name" />
    <input id="trailerDate" type="date" name="date" placeholder="Date" />
    <input id="trailerLink" type="text" name="link" placeholder="Trailer link" />
    <input id="trailerDes" type="text" name="description" aria-multiline="true" placeholder="Description" />
    <input id="trailerType" type="text" name="category" placeholder="Photo or Video" />
    <button type="submit">Add</button>
</form>

<h2>New Press Releases</h2>
<form id="pressForm" action="/press/create" method="POST">
    <input id="pressTitle" type="text" name="title" placeholder="Title" />
    <input id="pressDate" type="date" name="date" placeholder="Date" />
    <input id="pressDes" type="text" name="description" aria-multiline="true" placeholder="Description" />
    <input id="pressLink" type="url" name="link" placeholder="Link" />
    <input id="pressThumb" type="url" name="thumb" placeholder="Company logo" />
    <button type="submit">Add</button>
</form>
</div>

<div>
    <h3>Existing tour stops</h3>
    <div class="content even">
        {% for t in tours %}
        {{  tour(t)  }}
        {% endfor %}
    </div>
</div>

<div>
    <h3>Existing trailers</h3>
    <div class="content even">
        {% for t in trailers %}
        {{  trailer(t)  }}
        {% endfor %}
    </div>
</div>

<div>
    <h3>Existing press items</h3>
    <div class="content even">
        {% for p in presses %}
        {{  press(p)  }}
        {% endfor %}
    </div>
</div>

<div>
    <h3>Poll</h3>
    {% for p in poll %}
    <form id="pollForm" action="/poll/{{p._id}}/update" method="POST">
        <input id="pollQuestion" type="text" name="question" placeholder="New Question" />
        <button type="submit">Update</button>
    </form>
    <div class="content even">
        <p>Current Question: {{p.question}} | Yes Votes: {{p.yes}} | No Votes: {{p.no}}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}