{% extends 'layout.html' %}

{% block body %}
  {{ super() }}
  <h1 class="page-title">Want a Private Show?</h1>

  <div class="su-row">
  <div class="su-column su-column-size-3-5">
    <div class="su-column-inner su-clearfix">
      <h3>The Waterfowler Film and Photo Tour invites you to bring one of the most celebrated events in fly fishing to your town!</h3>
        <p>Our Affiliate Program allows independent community organizers to raise funds and awareness for your cause, chapter or business by hosting your own F3T premiere.</p>
        <p>It’s easy and affordable to host your own screening. We provide turnkey event materials complete with all the films, promotional materials and online ticket sales. We produce national print and digital marketing that will help drive awareness for your show and we’ll list your event on our national schedule at TheF3T.com and on our Facebook page.</p>
        <p>It’s up to you to select and book an appropriate venue and promote the event to your local audience. If you already know your audience well, and think they’d like to see the F3T in their town, you can plan, promote and produce your event in just a few weeks.</p>
        <p>The timing and location of a successful premiere depends much on the local fishing season (off or early-seasons generally works best) and the location/timing of other F3T screenings. We can help advise and assist you with timing and location once you’ve submitted your Request to Host.</p>
        <p>The primary tour, the Fly Fishing Film Tour events that we produce with our F3T Road Crew, travels to 30-40 markets across the US between late January and the end of April. We also have more than 100 affiliate events premiering annually across the country and there are still many markets ready and waiting for a fun F3T screening.</p>
        <p>In addition to the US, we have groups hosting Fly Fishing Film Tour events in Canada, South Africa, the UK and Central America, but substantial international opportunities still remain.</p>
        <p>If you’re interested in bringing the best fly fishing films on the planet to your town, simply click on the link below, fill out the Host a Show form and we will reply to you shortly.</p>
        <p>Good luck and thanks for your interest in the Fly Fishing Film Tour!</p>
        <p>To get started contact us at <a href="mailto:affiliate@mayflymedia.com">affiliate@mayflymedia.com</a> or download the <a href="http://flyfilmtour.com/flipbook/#page-1">Affiliate Brochure</a> from the website Press Room.</p>
        <p style="text-align: center;"><a href="/flipbook" target="_blank"><button>Hosting Information &amp; Instructions</button></a></p>
        </div></div>
        <div class="su-column su-column-size-2-5 host-show-flyer su-column-last"><div class="su-column-inner su-clearfix">
        <h2>Request a Show</h2>
        <h3>Working with us comes with benefits</h3>
        <h4>The ULTIMATE PROGRAM for fundraising opportunity and delivering localized awareness.</h4>
        <h5>Host your own unique show exclusive to your market!</h5>
        <p><strong>Benefits Include:</strong> Increased Membership, Access to Like-Minded Outdoorsman, Increased Database, Local Awareness, Fundraising, Raffles, Door Prizes, Silent Auctions, National Advertising, Custom Posters and Flyers, Email Marketing, Online Ticketing, Swag and Much More!</p>
        <p>Work with the biggest names, the best films, the most established brand, the original and world’s largest… Fly Fishing Film Tour.</p>
        <p><strong>Contact Us:</strong> affiliate@mayflymedia.com – 303.815.1070<br></p>
      </div>
    </div>
  </div>
  <hr>
  <h2>Host a City Request</h2>
  <form>
    <input type="text" placeholder="Full Name" id="name" />
    <input type="text" placeholder="Email" id="email" />
    <input type="text" placeholder="Address" id="address" />
    <input type="number" placeholder="Phone" id="phone" />
    <input type="text" placeholder="Organization" id="org" />
  </form>
{% endblock %}
