{% macro trailerCard(trailer={}) %}
    <div class="card video-card">
        <div
            class="card-img-top"
            style="
                background-image: url('https://img.youtube.com/vi/p9nqQuu4lmQ/0.jpg');"
            alt="Card image cap"
        ><i class="material-icons">play_arrow</i></div>
        <div class="card-block">
            <h4 class="card-title">{{trailer.name}}</h4>
            <p class="card-text lead">
                {{trailer.description}}
            </p>
        </div>
    </div>
{% endmacro %}
