{% macro trailerCard(trailer={}) %}
    <div class="card video-card">
        <div
            class="card-img-top"
            style="
                background-image: url('https://img.youtube.com/vi/p9nqQuu4lmQ/0.jpg');"
            alt="Card image cap"
        ><i class="material-icons">play_arrow</i></div>
        <div class="card-block">
            <h4 class="card-title">{{trailer.name}}</h4>
            <p class="card-text lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolo
            </p>
        </div>
    </div>
{% endmacro %}
