.card.video-card {
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    width: 400px;

    &:hover {
        background-color: rgba(0,0,0,.03);
        .card-img-top {
            background-size: 160%;
        }
    }

    .card-title {
        font-size: 32px;
    }

    .card-text {
        font-size: 16px;
        font-weight: 300;
        color: #888;
    }

    .card-img-top {
        border-radius: 0;
        flex: 1;
        min-width: 300px;
        background-position: center;
        background-size: 150%;
        transition: .15s background-size ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .material-icons {
            color: white;
            font-size: 100px;
        }
    }
}

.trailers-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .video-card {
        max-width: 500px;
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        .card-img-top {
            min-height: 200px;
        }
    }
}

@media screen and (max-width: 1239px) {
    .trailers-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .video-card {
            max-width: 100%;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.intrinsic-container > iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 900px !important;
        margin: 30px auto;
    }
}
