{% macro trailerCardVimeo(trailer={}) %}
    <script type="text/javascript">
        function get_id(url){
            var regExp = /https?:\/\/(?:www\.|player\.)?vimeo.com\/(?:channels\/(?:\w+\/)?|groups\/([^\/]*)\/videos\/|album\/(\d+)\/video\/|video\/|)(\d+)(?:$|\/|\?)/;
            var match = url.match(regExp);
            return match[3] || false;
        }
        $( document ).ready(function() {
            $.getJSON('https://www.vimeo.com/api/v2/video/' + get_id('{{trailer.link}}') + '.json?callback=?', {format: "json"}, function(data) {
                $('#{{trailer._id}} > .card-img-top').css(
                    'background-image', "url(" + data[0].thumbnail_large + ")"
                );
            });
            $("#{{trailer._id}}-modal").on('hidden.bs.modal', function (e) {
                $('#{{trailer._id}}-embed').attr('src', '');
            });
        });
        function onCloseModal{{trailer._id}}() {
            $('#{{trailer._id}}-embed').attr('src', '');
        }
        function onOpenModal{{trailer._id}}() {
            var embedSrcString = 'https://player.vimeo.com/video/' + get_id('{{trailer.link}}') + '?color=ababab&portrait=0';
            $('#{{trailer._id}}-embed').attr('src', embedSrcString);
        }
    </script>
    <div class="card video-card" id="{{trailer._id}}">
        <div
            class="card-img-top"
            alt="Card image cap"
            data-toggle="modal"
            data-target="#{{trailer._id}}-modal"
            onclick="onOpenModal{{trailer._id}}()"
        >
            <i class="material-icons">play_arrow</i>
        </div>
        <div class="card-block d-flex flex-column">
            <h4 class="card-title">{{trailer.name}}</h4>
            <p class="card-text lead">
                {{trailer.description}}
            </p>
            <div style="flex: 1"></div>
            <div class="d-flex justify-content-between">
                <span class="badge badge-default align-self-center">{{trailer.votes}} Votes</span>
                <a href="/vote/{{trailer._id}}" class="btn btn-primary">Vote</a>
            </div>

        </div>
    </div>
    <div class="modal fade" id="{{trailer._id}}-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{trailer.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="onCloseModal{{trailer._id}}()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="intrinsic-container">
                <iframe id="{{trailer._id}}-embed" frameborder="0" allowfullscreen></iframe>
            </div>
            <br>
            <p class="card-text lead mx-3">
                {{trailer.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
{% endmacro %}
