{% extends 'layout.html' %}
{% from "./trailer-card-youtube.html" import trailerCardYoutube %}
{% from "./trailer-card-vimeo.html" import trailerCardVimeo %}
{% from "./trailer-card-img.html" import trailerCardImage %}


{% block body %}
{{ super() }}
<div>
    {% set demoImageSrc = 'url("img/drinking.jpg")' %}
    {{ headerBlock(image=demoImageSrc, text="Latest Tour Flix") }}
    {% if trailers %}
        <div class="content-block even">
            <strong>Trailers</strong>
            <div class="trailers-list">
                {% set regExpVimeo = r/vimeo/g %}
                {% set regExpYoutube = r/youtube|youtu\.be/g %}
                {% for trailer in trailers %}
                    {% if trailer.category == 'video' or trailer.category == 'Video' %}
                        {% if regExpYoutube.test(trailer.link) %}
                            {{ trailerCardYoutube(trailer) }}
                        {% else %}
                            {{  trailerCardVimeo(trailer)  }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="content-block even">
            <strong>Images</strong>
            <div class="trailers-list">
                {% for trailer in trailers %}
                    {% if trailer.category == 'photo' or trailer.category == 'Photo'  %}
                        {{ trailerCardImage(trailer) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
    <div class="content-block even">
        <div class="content-block even">
            <strong>Trailers</strong>
            <div style="flex: 1; justify-content: center; align-items: center; display: flex; margin-top: 100px;">
                no trailers yet!
            </div>
        </div>
        <div class="content-block even">
            <strong>Images</strong>
            <div style="flex: 1; justify-content: center; align-items: center; display: flex; margin-top: 100px;">
                no images yet!
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
