{% macro tourCard(tour={}) %}
    <div class="card tour-card">
        <div class="card-block">
            <h4 class="card-title">{{tour.event}}</h4>
            <h4 class="card-title">{{tour.location}}</h4>
            <h4 class="card-text lead">{{tour.date.toString().substring(0, 15)}}</h4>
            <span class="badge badge-default">{{tour.ticketsAvailable-tour.ticketsSold}}/{{tour.ticketsAvailable}} tickets left</span>
            <br><br>
            <a href="#" class="btn btn-primary">Buy Tix - Coming Soon!</a>
        </div>
    </div>
{% endmacro %}
