@import './layout';
@import './Submit/submit';
@import './contentBlock';
@import './Watch/trailer-card';
@import './bootstrap-override';
@import './Home/press-card';
@import './Tour/tour-card';
@import './Home/home';
@import './slick/slick';
@import './slick/slick-theme';

@font-face {
    font-family: 'Lato';
    src: url('/Lato/Lato-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Lato';
    src: url('/Lato/Lato-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('/Lato/Lato-Hairline.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Lato';
    src: url('/Lato/Lato-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('/Lato/Lato-Regular.ttf');
    font-weight: normal;
}

.block-body {
    min-height: calc(100vh - 180px);
}
