<!DOCTYPE html>
<html>
<head>
    <title>Waterfowler Film and Photo Tour</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
    <nav
      class="navbar navbar-toggleable-md navbar-light bg-faded"
      style="padding: 0px;"
    >
      <div
        class="bg-primary"
        style="
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100px;
          color: white;
        "
      >
        <h3>Waterfowler Film and Photo Tour</h3>
        <br>
      </div>
    </nav>
    <nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
      <nav id="nav" class="navbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tour">Tour</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/specials">Specials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/watch">Trailers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/submit">Submit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop">Shop</a>
            </li>
          </ul>
      </nav>
      <hr>
    </nav>

    <script>
    // add active class to nav link if pathname matches
    $(function() {
      $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
      console.log(location.pathname.split("/")[1])
    });
    </script>

    {% block body %}
    {% endblock %}

    <footer class="text-center">
        <hr>
        <p class="muted">App running on port: <code>{{ port }}</code></p>
    </footer>
</body>
</html>
