{% from "headerBlock.html" import headerBlock %}
{% from "contentBlock.html" import contentBlock %}

<!DOCTYPE html>
<html>
<head>
    <title>Waterfowler Film and Photo Tour</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body id="wfpt-body">
    <!--<nav
      class="navbar navbar-toggleable-md navbar-light bg-faded"
      style="padding: 0px;"
    >
      <div
        class="bg-primary"
        style="
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100px;
          color: white;
        "
      >
        <h3>Waterfowler Film and Photo Tour</h3>
        <br>
      </div>
  </nav>-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tour">Tour</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/specials">Specials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/watch">Trailers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/submit">Submit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop">Shop</a>
            </li>
        </ul>
      </div>
      <hr>
    </nav>

    <script>
    // add active class to nav link if pathname matches
    $(function() {
      $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
      console.log(location.pathname.split("/")[1])
    });
    </script>

    <div class="block-body">

        {% block body %}
        {% endblock %}

    </div>

    <footer class="text-center wfpt-footer">
        <hr>
        <ul style="display: flex; flex-direction: row; justify-content: space-between; padding: 0 100px;">
            <li class="nav-item bottom-nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item bottom-nav-item">
                <a class="nav-link" href="/tour">Tour</a>
            </li>
            <li class="nav-item bottom-nav-item">
              <a class="nav-link" href="/specials">Specials</a>
            </li>
            <li class="nav-item bottom-nav-item">
                <a class="nav-link" href="/watch">Trailers</a>
            </li>
            <li class="nav-item bottom-nav-item">
              <a class="nav-link" href="/submit">Submit</a>
            </li>
            <li class="nav-item bottom-nav-item">
                <a class="nav-link" href="/shop">Shop</a>
            </li>
        </ul>
        <div class="wfpt-brand-footer">
            <div class="d-flex flex-column align-items-center">
                © 2017 WATERFOWLER FILM AND PHOTO TOUR
                <div class="d-flex mt-2">
                    <a class="mx-1" href="https://instagram.com" target="_blank">
                        <img class="social-media" src='/img/instagram.png'/>
                    </a>
                    <a class="mx-1" href="https://twitter.com/quaksmkrWFPT1" target="_blank">
                        <img class="social-media" src='/img/twitter.png'/>
                    </a>
                    <a class="mx-1" href="https://facebook.com" target="_blank">
                        <img class="social-media" src='/img/facebook.png'/>
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
