{% extends 'layout.html' %}

{% block body %}
  {{ super() }}
  {% set demoImageSrc = 'url("https://i.ytimg.com/vi/_JBll3kYQjo/maxresdefault.jpg")' %}
  {{ headerBlock(image=demoImageSrc, text="Let's See Yours") }}
  <div class="content-block">
    <form>
      <input type="text" placeholder="Full Name" id="name" />
      <input type="text" placeholder="Email" id="email" />
      <input type="text" placeholder="Website" id="website" />
      <input type="text" placeholder="Trailer Link" id="trailer" />
      <input type="password" placeholder="Password" id="password" />
    </form>
  </div>
  {% for block in blocks %}
    {{
      contentBlock(
        title=block.title,
        content=block.content
      )
    }}
  {% endfor %}

{% endblock %}
