{% extends 'layout.html' %}

{% block body %}
  {{ super() }}
      <div>
        <h1>Let's See Yours</h1>
        <h4>SHORT FORM RULES</h4>
        <ul>
          <li>All submission must be original content not released on DVD/Internet prior to May 30, 2017</li>
          <li>Entries cannot be in another Fly Fishing Film Festival being shown in US or Canada during the 2016 or 2017 Calendar Year.</li>
          <li>All entries must have all copyrighted materials cleared and documented</li>
          <li>Entries must have a release date, copyright date or airdate during calendar year, 2016 or 2017.</li>
          <li>Multiple entries will be accepted</li>
          <li>Entries received must include a completed Entry Form and copy of the film.</li>
        </ul>
        <p>
          <strong>Selected filmmakers will be entitled to the following:</strong>
        </p>
        <ul>
          <li>Film Teaser promotion on F3T web site and Social Media</li>
          <li>Company logo or film maker photo displayed on F3T web site</li>
          <li>Film tour film submission description to be displayed on F3T web site</li>
          <li>Film Company or filmmaker bio to be displayed on F3T web site</li>
          <li>Film company or filmmaker web address to be displayed on F3T web site</li>
          <li>Filmmaker and film description to be mentioned in PR materials and press kits.</li>
          <li>Profit sharing for eligible film submissions –
            <b>ALL SELECTED FILMMAKERS WILL RECEIVE PAYMENTS</b>
          </li>
          <li>Inclusion on and compensation for F3T downloads via iTunes</li>
        </ul>
      </div>
      <div>
        <h4>REQUIREMENTS FOR FILM SUBMISSION</h4>
        <p>Submissions can be any length up to a 20-minute maximum, make them as long as they are good – most films are best at 10-15 minutes. They must have a story with start middle and ending.<br/>
          Film submissions must be fly fishing related.<br/>
          Final Submissions
          <em>
            <span style="text-decoration: underline">
              <b>must</b>
            </span>
          </em>
          include the following:</p>
        <ul>
          <li>1. Fully edited film tour submission up to 20 minutes long</li>
          <li>2. 20 second max end credits for film credits and sponsor mentions (Sponsor mentions must be at end of film in end credits only)</li>
          <li>3. Film Trailer up to 3 minutes long to be uploaded on Vimeo. Less is more here. The trailer should be intriguing without giving away the entire film.</li>
          <li>4. Filmmaker photo or film company logo*</li>
          <li>5. Photo stills from film (5 minimum)*</li>
          <li>6. Max 500 word description of film**</li>
          <li>7. Max 500 word filmmaker or company biography**</li>
        </ul>
        <p>
          <small>
            <i>*(All Photos and stills must be submitted on DVD, Electronic Transfer Mechanism (ie DropBox or We Transfer) or email in print quality resolution &amp; format, 300 DPI in JPG TIF or EPS)</i>
          </small><br/>
          <small>
            <i>**(Film description and filmmaker or company biography must be submitted as a typed word document .doc)</i>
          </small><br/>
        </p>
      </div>
      <div>
        <h4>CASH AWARDS</h4>
        <ul>
          <li>F3T will be awarding compensation to filmmakers who are selected for the 2017 film tour program line up based upon the total profit revenue of the tour and meet the eligibility requirements.</li>
          <li>Submission eligibility for cash awards
          </li>
          <li>Exclusive U.S. Fly Fishing Film Tour rights during the tour through December 31, 2017 as a submission to any fly-fishing related non-private film events.</li>
          <li>All films that are chosen for the Fly Fishing Film Tour program and are submitting exclusively to the Fly Fishing Film Tour will receive profit sharing</li>
        </ul>
      </div>
      <h4>ACCEPTABLE SUBMISSION FORMATS</h4>
      <ul>
        <li>Uncompressed file delivered on Hard Drive / Flash Drive / Electronic Transfer Mechanism</li>
        <li>HD quality 1920×1080– PRORES 422 (or other HD Codec)</li>
        <li>Preferred Frame Rate – 23.98 (24p)</li>
      </ul>
      <p>Each entry may not use any unauthorized copyright material including music images or film. If you have copyright material in your film you must be able to provide legal documentation of your permission of its use. Films with copyright material that do not provide this documentation will be disqualified. Each Film entered must be fishing related or orientated. Please preview your entries before shipping. Programs with time code or other defects will be disqualified.<br/>
        <b>No “Self Help”, “Instructional”,”How To”, “Lodge/Outfitter/Guide Service Promotion” films will be accepted</b>.<br/>
      </p>
      <div>
        <form>
          <input type="text" placeholder="Full Name" id="name" />
          <input type="text" placeholder="Email" id="email" />
          <input type="text" placeholder="Website" id="website" />
          <input type="text" placeholder="Trailer Link" id="trailer" />
          <input type="password" placeholder="Password" id="password" />
        </form>
      </div>

{% endblock %}
