{% extends 'layout.html' %}
{% import "../bootstrap-helpers/media/carousel/carousel.html" as carousel %}
{% from "./press-card.html" import pressCard %}

{% block body %}
    {{ super() }}
    <div id='wfpt-home'>

        <div id="header-component" class="header-block" style="background-image: url('/img/bird1.jpg');">
            <div class="home-text">
                <div class="text">
                    Waterfowler Film and Photo Tour
                </div>
                <div class="details">
                    The Premiere Site for Waterfowling
                </div>
            </div>
            <div style="align-self: center; flex-grow: 1; display: flex; justify-content: center;">
                <button class="home-play-button" onclick="switchToVideo()">
                    <i class="material-icons">play_arrow</i>
                </button>
            </div>
            <div class="dark-overlay"></div>
        </div>

        <script>
            function switchToVideo() {
                $('#header-component').replaceWith('\
                    <div id="header-component" class="header-block" style="background-image: url(\'/img/bird1.jpg\');">\
                        <iframe style="align-self: center; z-index: 10; height: 100%; width: 100%; max-width: 800px;" src="https://player.vimeo.com/video/193072362" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>\
                        <button class="close-button" onclick="switchBack()"><i class="material-icons">close</i></button>\
                        <div class="dark-overlay"></div>\
                    </div>\
                ')
            }
            function switchBack() {
                $('#header-component').replaceWith('\
                <div id="header-component" class="header-block" style="background-image: url(\'/img/bird1.jpg\');">\
                    <div class="home-text">\
                        <div class="text">\
                            Water Fowler Film and Photo Tour\
                        </div>\
                        <div class="details">\
                            The Premeire Site for Water Fowling\
                        </div>\
                    </div>\
                    <div style="align-self: center; flex-grow: 1; display: flex; justify-content: center;">\
                        <button class="home-play-button" onclick="switchToVideo()">\
                            <i class="material-icons">play_arrow</i>\
                        </button>\
                    </div>\
                    <div class="dark-overlay"></div>\
                </div>\
                ')
            }
        </script>

        {% for block in blocks %}
            {% if loop.index % 2 == 1 %}
                {{
                    contentBlock(
                        title=block.title,
                        content=block.content,
                        extraClass="odd"
                    )
                }}
            {% else %}
                {{
                    contentBlock(
                        title=block.title,
                        content=block.content,
                        extraClass="even"
                    )
                }}
            {% endif %}
        {% endfor %}

        <div class='content-block'>
            <h3 class="title">
                Who's talking about us?
            </h3>
            <div class="content even">
                {% for press in presses %}
                {{  pressCard(press)  }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
