.card.press-card {
    margin-bottom: 20px;
    width: 300px;
    .card-img-top {
        height: 150px;
        background-size: auto 50%;
        background-position: center;
        background-repeat: no-repeat;

    }
}
