{% macro pressCard(press={}) %}
    <div class="card press-card">
        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Npm-logo.svg/1000px-Npm-logo.svg.png" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">{{press.title}}</h4>
            <p class="card-text">
                {{press.description}}
            </p>
            <a href="{{press.link}}" target="_blank" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
{% endmacro %}
